<!DOCTYPE html>
<!-- This tells us it's an angular app -->
<html ng-app="MonsterParts">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>monster toolbox</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/monstertoolbox.css">
</head>
<!-- Add onload="init()" for canvas actions -->
<body ng-controller="MainCtrl" onload="init()">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <h1 class="text-center">Monster Toolbox</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="drawer" ng-repeat="category in categories">
        <a href="#" ng-click="setCurrentCategory(category)">{{category.name}}</a>
      </div>
    </div>
  </div>

  <div class="row canvas">
    <div class="col-sm-2 col-md-2">
      <p><a href="#" ng-click="setCurrentCategory(null)">Hide</a></p>
      <div ng-repeat="part in parts | filter:{category:currentCategory.name}">
        <img class="part-button" src="{{part.location}}" id="part{{part.id}}" />
      </div>
    </div>
    <div class="col-sm-10 col-md-10">
      <canvas id="monsterCanvas" width="700" height="600"></canvas>
    </div>
  </div>
</div><!--End Container-->

  <!-- Include jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script>
  <!-- Bootstrap JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- Angular -->
  <script src="js/angular.js"></script>
  <!-- Create js -->
  <script src="http://code.createjs.com/createjs-2013.12.12.min.js"></script>
  <!-- Customizations -->

  <script src="js/canvasaction.js"></script>
  <script src="js/monsterparts-app.js"></script>
</body>

</html>
