<div class="drawer">
<%= image_tag('mouth1.png', class: "part-button pb-circle") %>
<%= image_tag('mouth2.png', class: "part-button pb-circle") %>
<%= image_tag('mouth3.png', class: "part-button pb-circle") %>
<%= image_tag('mouth4.png', class: "part-button pb-circle") %>

</div>

