<div class="footer">
  <div class="title">
    <%= link_to 'Create', new_artwork_path, class: "new-links" %>
    <%= link_to "Monster Toolbox", root_path %>
    <%= link_to 'Browse', artworks_path, class: "new-links" %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="grid">
      <% @artworks.each do |artwork| %>
        <div class="cell">
            <%= link_to image_tag(artwork.monsterdrawing.url(:square), class: "gallery-item"), artwork_path(artwork.id) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
