  <div class="row light">
    <div class="small-12 columns">
    <div>Monster Toolbox</div>
    <a href="#" class="button right">Gallery</a>
    </div>
  </div>
  <div class="row dark">
    <div class="small-12 columns">
      Categories go here
    </div>
  </div>

  <div class="row canvas">
    <div class="small-2 large-2 columns">
      parts buttons go here
      </div>
    </div>
    <div class="small-8 large-8 columns">
      <canvas id="monsterCanvas" width="700" height="600"></canvas>
    </div>
    <div class="small-2 large-2 columns">
    <a href="#" class="button">Clear</a>
    <a href="#" class="button">Save</a>
    </div>
  </div>
</div>
