<div class="floatontop">
  <div class="circle-button1" >
    <%= link_to 'Create!', new_artwork_path, class: "circle-text" %>
  </div>

  <div class="circle-button2" >
    <%= link_to 'Browse', artworks_path, class: "circle-text" %>
  </div>
</div>


<%= image_tag('monsterhome.png', class: "homepage") %>
<i class="fa fa-code-fork"></i>Github Repo
    </div>

