
  <div class="row dark">
  <div id="eyes">
      <div class="small-12 columns" >
        <%= render "eyes" %>
      </div>
    </div>
    <div id="mouths">
      <div class="small-12 columns" >
        <%= render "mouths" %>
      </div>
    </div>
  <div class="drawer-tab" id="eyecategory">EYES</div>
  <div class="drawer-tab" id="mouthcategory">MOUTHS</div>
  <div class="drawer-tab">NOSES</div>
  <div class="drawer-tab">EARS</div>
  <div class="drawer-tab">HORNS</div>
  <div class="drawer-tab">ARMS</div>
  <div class="drawer-tab">LEGS</div>
  <div class="drawer-tab">TAILS</div>
  <div class="drawer-tab">HAIR</div>

  </div>

  <div class="row canvas">
    <div class="small-12 large-12 columns">
      <canvas id="monsterCanvas" width="700" height="600"></canvas>
    </div>
  </div>

  <div class="row dark">
    <div class="small-12 columns">
      <a href="#" class="button" id="clear">Clear</a>
      <a href="#" class="button">Save</a>
    </div>
  </div>



