@import "font-awesome";
@import "foundation";

.title {
  font-family: 'Codystar', cursive;
  font-size: 4.8em;
  color: #fff;
  line-height: 1.3em;
  text-align: center;
  a {
    color: #fff;
  }
  a:hover {
    color: #fff;
  }
}
.toolbox{
  margin: 0 auto;
}
.homepage {
  height: 8em;
  background-color: #88C5D5;
}
.white-spacer {
  height: 6em;
}
.floatontop {
  position: absolute;
  z-index: 2;
}
.gallery-show {
  -moz-box-shadow: inset 2px 2px 3px 2px rgba(6, 8, 12, 0.31);
  -webkit-box-shadow: inset 2px 2px 3px 2px rgba(6, 8, 12, 0.31);
  box-shadow: inset 2px 2px 3px 2px rgba(6, 8, 12, 0.31);

}
.pb-circle {
  background-color: #fff;
  height: 3.5em;
  width: 3.5em;
  padding: 0.6em;
  border-radius: 50%;

  a:hover {
    cursor: pointer;
  }
}

.part-button {
  width: 6%;
  height: 6%;
  display:inline-block;
}

.circle-button1 {
  position: relative;
  display: inline-block;
  background-color: rgba(73, 139, 52, 0.69);
  width: 15vw;
  height: 15vw;
  line-height: 0;
  border-radius: 50%;
  left: 17.5vw;
  top: 4vw;
  -moz-box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
  -webkit-box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
  box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
}

.circle-button2 {
  position: relative;
  display: inline-block;
  background-color: rgba(52, 139, 122, 0.69);
  width: 15vw;
  height: 15vw;
  line-height: 0;
  border-radius: 50%;
  left: 52.5vw;
  top: 4vw;
  -moz-box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
  -webkit-box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
  box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
}

.circle-text {
  padding-left: 2.75vw;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 14.5vw;
  font-size: 3vw;
  a {
    color: #fff;
  }
  a:hover {
    color: #000;
  }
}

.drawer{
  margin-top: 0.5em;
  margin-bottom: 1em;

}

.drawer-tab {
  width: 0;
  height: 0;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  border-top:70px solid #fff;
  font-size: 0;
  line-height: 0;
  display: inline-block;

  p {
    text-align: center;
    top: -60px;
    left: -25px;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0px;
    color: rgba(255, 0, 0, 0.57);
    font-weight: 600;
    font-size: 14px;
    :hover{
      color:red;
    }
  }
  a {
  color: #fff;
  }
}

.new-links {
  font-size: 24px;

}

.drawer-tab-no-click {
  width: 0;
  height: 0;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  border-bottom:70px solid #fff;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  margin-top: 10px;
}

.canvas{
  background-color: #fff;
}

.sidebar{
  height: 600px;
}

.footer{
  background-color: #88C5D5;
}

.dark {
  background-color: rgba(255, 0, 0, 0.44);
}

.light {
  background-color: #fff;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item{
  width: 15vw;
  border-radius: 50%;

  overflow: hidden;
  -moz-box-shadow: inset 2px 2px 3px 2px  rgba(6, 8, 12, 0.31);
  -webkit-box-shadow: inset 2px 2px 3px 2px rgba(6, 8, 12, 0.31);
  box-shadow: inset 2px 2px 3px 2px rgba(6, 8, 12, 0.31);
  display: inline-block;
  text-align: left;
}

.cell {
  // display: inline-block;
  // margin-right: 0.966em;
  // flex-grow: 1;
  min-width: 20%;
  margin: 1em auto;
}

#transform {
  margin-top: 1em;
}

.transform-button {
  margin-bottom: 1em;
  display: inline-block;
  color: #fff;
}

.cancel{
  color: red;
}

.gums{
 background-color: rgba(255, 0, 0, 0.57);
}

.pre-gums{
  background-color: rgba(255, 0, 0, 0.44);
  height: 10px;
}

.status-button {

    margin-top:10px;
    margin-bottom: 20px;

}
.submit-button {

}
.by-line {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  line-height: 1.3em;
  background-color: #fff;
}
#monster-details{

  margin-top: 10px;
  margin-bottom: 3em;
  p {
    margin-bottom: 10px;
    font-weight: bold;
  }
}
/* Add imports of custom sass/scss files here *//*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require foundation_and_overrides
 *= require foundation
*= require_tree .
 */
