@import "font-awesome";
@import "foundation";

.title {
  font-family: 'Codystar', cursive;
  font-size: 5em;
  color: #fff;
  line-height: 1.3em;
  text-align: center;
  a {
    color: #fff;
  }
  a:hover {
    color: #fff;
  }
}

.homepage {
  width: 100%;
}
.floatontop {
  position: absolute;
  z-index: 2;
}
.pb-circle {
  background-color: #fff;
  height: 3.5em;
  width: 3.5em;
  padding: 0.6em;
  border-radius: 50%;
  -moz-box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 2, 0.41);
  -webkit-box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 2, 0.41);
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 2, 0.41);
  a:hover {
    cursor: pointer;
  }
}

.part-button {
  width: 6%;
  height: 6%;
  display:inline-block;
}

.circle-button1 {
  position: relative;
  display: inline-block;
  background-color: rgba(73, 139, 52, 0.69);
  width: 15vw;
  height: 15vw;
  line-height: 0;
  border-radius: 50%;
  left: 7.5vw;
  top: 40vw;
  -moz-box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
  -webkit-box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
  box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
}

.circle-button2 {
  position: relative;
  display: inline-block;
  background-color: rgba(52, 139, 122, 0.69);
  width: 15vw;
  height: 15vw;
  line-height: 0;
  border-radius: 50%;
  left: 62.5vw;
  top: 40vw;
  -moz-box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
  -webkit-box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
  box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
}

.circle-text {
  padding-left: 2.75vw;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 14.5vw;
  font-size: 3vw;
  a {
    color: #fff;
  }
  a:hover {
    color: #000;
  }
}

.drawer{
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.drawer-tab {
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 70px 50px 0 50px;
  border-color: #ffffff transparent transparent transparent;
  float: left;
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  p {
    text-align: center;
    top: 30px;
    left: -47px;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0px;
  }
  a {
  color: #fff;
  }
}

  // width: 0;
  // height: 0;
  // border-left: 85px solid transparent;
  // border-right: 85px solid transparent;
  // border-top: 100px solid #fff;



  // display:inline-block;
  // color: rgba(255, 0, 0, 0.57);
  // font-weight: bold;
  // // background-color: #fff;
  // // height: 45px;
  // // width: 85px;
  // // margin-left: 20px;
  // // margin-bottom: 10px;
  // margin-top: 3px;
  // font-size: 14px;
  // padding-top: 10px;
  // text-align: center;
  // border-radius: 0px 0px 200px 200px;
  // -moz-border-radius: 0px 0px 200px 200px;
  // -webkit-border-radius: 0px 0px 200px 200px;

.drawer-tab-no-click {
  display:inline-block;
  color: rgba(255, 0, 0, 0.57);
  background-color: #fff;
  height: 45px;
  width: 85px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
  border-radius: 200px 200px 0px 0px;
  -moz-border-radius: 200px 200px 0px 0px;
  -webkit-border-radius: 200px 200px 0px 0px;
}

.canvas{
  background-color: rgba(0, 0, 0, 0.96);
}

.sidebar{
  height: 600px;
}

.footer{
  background-color: #88C5D5;
}

.dark {
  background-color: rgba(255, 0, 0, 0.44);
}

.light {
  background-color: #fff;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item{
  width: 15vw;
  border-radius: 50%;
  overflow: hidden;
  -moz-box-shadow: inset 2px 2px 3px 2px  rgba(6, 8, 12, 0.31);
  -webkit-box-shadow: inset 2px 2px 3px 2px rgba(6, 8, 12, 0.31);
  box-shadow: inset 2px 2px 3px 2px rgba(6, 8, 12, 0.31);
  display: inline-block;
  text-align: left;
}

.cell {
  // display: inline-block;
  // margin-right: 0.966em;
  // flex-grow: 1;
  min-width: 20%;
  margin: 1em auto;
}

.transform-button {
  margin-bottom: 1em;
  display: inline-block;
}

.cancel{
  color: red;
}

.gums{
 background-color: rgba(255, 0, 0, 0.57);
}

.pre-gums{
  background-color: rgba(255, 0, 0, 0.44);
  height: 10px;
}

.status-button {
    background: #CCCFD3;
    border-radius: 15px;
    padding: 10px 20px;
    display: inline-block;
    font-family: helvetica;
    font-weight: bold;
    color:#fff;
    text-decoration: none;
    text-align: center;
    width: 100px;
    margin-top:10px;
    margin-bottom: 20px;

  a:hover {
    box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  }
  a:active {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
    background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
  }
}
.by-line {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  line-height: 1.3em;
}
/* Add imports of custom sass/scss files here *//*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require foundation_and_overrides
 *= require foundation
*= require_tree .
 */
