@import "font-awesome";
@import "foundation";

.homepage {
  width: 100%;
}
.floatontop{
  position: absolute;
  z-index: 2;
}
.pb-circle{
  background-color: #fff;
  height: 3.5em;
  width: 3.5em;
  padding: 0.6em;
  border-radius: 50%;
  -moz-box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 2, 0.41);
  -webkit-box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 2, 0.41);
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 2, 0.41);
:hover {
cursor: pointer;
}
}
.part-button{
  width: 6%;
  height: 6%;
  display:inline-block;


}
.circle-button1 {
  position: relative;
  display: inline-block;
  background-color: rgba(73, 139, 52, 0.69);
  width: 15vw;
  height: 15vw;
  line-height: 0;
  border-radius: 50%;
  left: 7.5vw;
  top: 40vw;
  -moz-box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
  -webkit-box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
  box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
}
.circle-button2 {
  position: relative;
  display: inline-block;
  background-color: rgba(52, 139, 122, 0.69);
  width: 15vw;
  height: 15vw;
  line-height: 0;
  border-radius: 50%;
  left: 62.5vw;
  top: 40vw;
  -moz-box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
  -webkit-box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
  box-shadow: inset 2px 2px 3px rgba(6, 8, 12, 0.31);
}
.circle-text{
  padding-left: 2.75vw;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 14.5vw;
  font-size: 3vw;
  a{
    color: #fff;

  }
  a:hover{
    color: #000;
  }
}
.drawer{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.drawer-tab {
  display:inline-block;
  color: #fff;
  background-color: #000;
  height: 45px;
  width: 85px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
  border-radius: 0px 0px 200px 200px;
  -moz-border-radius: 0px 0px 200px 200px;
  -webkit-border-radius: 0px 0px 200px 200px;
}
.drawer-tab a{
  color: #000;
}
.canvas{
  background-color: rgba(255, 255, 255, 0.63);

}
.sidebar{
  height: 600px;
}

.dark{
background-color: rgba(52, 139, 122, 0.69);
}
.light{
  background-color: rgba(255, 255, 255, 0.63);
}

/* Add imports of custom sass/scss files here *//*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require foundation_and_overrides
 *= require foundation
*= require_tree .
 */
